body {
  background-color: #0f172a;
  color: white;
  scroll-behavior: smooth;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: radial-gradient(circle at top, #1e293b, #020617);
}

.hero h1 span {
  color: #38bdf8;
}

.hero-img {
  max-width: 420px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(56,189,248,0.5);
}


.section {
  padding: 80px 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
} 

.section-title h2 {
  color: #38bdf8;
  font-weight: bold;
}
  


.dev-card { 
  background: #020617;
  border-radius: 15px;
  padding: 25px;
  border: 1px solid #1e293b;
  transition: 0.3s;
}

.dev-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px rgba(56,189,248,0.3);
}